.container{
  display: flex;
  height: 80vh;
}
.box {
  margin: 2rem;
}

.box h2 {
    font-size: 30px;
    font-weight: 500;
}
.box p {
    margin: 1.5rem 0;
}

.button {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    padding: 7px 40px;
    text-align: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button:hover {
    background-color: black;
    color: white;
  }
  .con-img{
   margin-top: 80px;
  }
  .con-img img{
    width: 60rem;
    height: 80vh;
  }

