/* Form container styles */
#login-page {
  padding: 30px 30px;
}

#login-page h2{
  margin-bottom: 2rem;
}
/* Input field styles */

form input {
  width: 100%; 
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  background: #fff;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #000; /* Black border on focus */
  outline: none;
}

form button {
  background-color: #000;
  color: white;
  border: none;
  padding: 7px 40px;
  cursor: pointer;
}